<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.BoardMapper">
  <select id="selectBoardList" resultType="com.java.vo.BoardVo"> <!-- id = 메소드명, resultType = 결과물을 받는형식 --> 
   select * from (select rownum rnum, a.* from 
   (select * from board order by topchk desc, bgroup desc, bstep asc) a )
   where rnum between #{startrow} and #{endrow}
  </select>
  
  <select id="selectCount" resultType="int">
	select count(*) count from board  	
  </select>
  
  <select id="selectOne" resultType="com.java.vo.BoardVo"> <!-- #{} 는 받은 매개변수사용 -->
  	select * from board where bno = #{bno}		
  </select>
  <!-- int나 string은 #{}이렇게 해도 잘 받아. 
  하지만 Map이나 ArrayList같은건 못받으니까 parameterType="java.util.HashMap"> 이렇게 해야. 근데 그냥 Vo로 태우면 편해  -->
  
  <update id="updateBhitUp">
  	update board set bhit=bhit+1 where bno=#{bno}
  </update>
  
  
  <insert id="insertBoard">  <!--  게시글 작성  -->
  	insert into board values(board_seq.nextval, #{id}, #{btitle}, 
  	#{bcontent}, sysdate, 1, 1, board_seq.currval, 0, #{bfile}, 0)
  </insert>
  
  <insert id="insertReply">   <!-- 덧글 달기 -->
  	insert into board values(board_seq.nextval, #{id}, #{btitle}, 
  	#{bcontent}, sysdate, #{bstep}+1, 1, 
  	#{bgroup}, #{bindent}+1, #{bfile}, 0)
  </insert>
  
  <update id="updateReplyStepUp">	<!-- 덧글 달기전 전처리 -->
  	update board set bstep = bstep+1 where bgroup = #{bgroup} and bstep > #{bstep}
  </update>
  
  <update id="updateBoard">
	  update board set btitle = #{btitle}, bcontent = #{bcontent}, bdate = sysdate,
	  bfile = #{bfile} where bno = #{bno} 
  </update>
  
  <delete id="deleteBoard">
  	delete board where bno = #{bno}
  </delete>
  
</mapper>